.home {
  background-color: white;
  height: 100%;
  display: grid;
}

.header {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.topOfNav {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  position: relative;
}

.nonHighlightedHeader {
  height: 32px;
  width: 32px;
  margin-left: 5px;
  background-color: rgb(231, 231, 231);
}

.headerLogo {
  height: 32px;
  width: 32px;
}

.mapWrapper {
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
}

.mapCss {
  margin: 10px;
  height: 300px;
  width: 300px;
}

.highlightedHeader {
  height: 32px;
  margin-left: 5px;
  width: 32px;
  background-color: white;
}

.contentArea {
  background-color: red;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10fr 2fr;
}

.bigArea {
  background-color: white;
}

.rightSideBar {
  background-color: rgb(91, 93, 56);
  padding: 0;
}

.footer {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

#scrolly {
  position: relative;
}

.step {
  margin: 2rem auto 4rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.is-active {
  background-color: black;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.s1_welcome {
  height: 50vh;
}

.title {
  font-size: 3em;
}
